<h1>Edit Video</h1>
<%= link_to "Back to Videos", tubes_url %>

<%= form_for @tube do |f| %>
  <p>
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Save"%>
  </p>
<% end %>