<h1>Currently Sharing <%= @tubes.length %> videos</h1>
<%= link_to "New Video", "/tubes/new" %>

<% @tubes.each do |tube| %>
  <p><%= tube.source %>, <%= tube.title %></p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= tube.youtube_id %>" frameborder="0" allowfullscreen></iframe>
<% end %>